@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-experimental: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-inter: "Inter";
  --font-poppins: "Poppins";
  --font-raleway: "Raleway";
}

.movie-page-container {
  width: 100%;
  position: relative;
}

.movie-page-container .page-background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  filter: blur(25px);
  z-index: -1;
}

.movie-page-container .page-background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: 1;
}

.movie-page-container .page-background-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #292f36 100%);
  pointer-events: none;
}

.movie-page-container .first-half {
  width: 1100px;
  padding-top: 160px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
}

.movie-page-container .first-half .movie-info-container {
  width: 70%;
  display: flex;
}

.movie-page-container .first-half .movie-info-container .download-button {
  width: 100%;
  background-color: rgb(19, 196, 19);
  margin: 7px 0;
  padding: 7px 10px;
  border-radius: 5px;
  font-family: var(--font-inter);
  font-weight: 600;
  color: rgb(234, 234, 234);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 60px;
  font-size: 1rem;
}

.movie-page-container
  .first-half
  .movie-info-container
  .download-button
  #download-icon {
  margin-left: 10px;
}

.movie-page-container
  .first-half
  .movie-info-container
  .stream-button
  #stream-icon {
  margin-left: 10px;
}

/* .movie-page-container .first-half .movie-info-container .download-button:hover{

} */

.movie-page-container .first-half .movie-info-container .stream-button {
  width: 100%;
  background-color: rgb(19, 128, 168);
  margin: 7px 0;
  padding: 7px 10px;
  border-radius: 5px;
  font-family: var(--font-poppins);
  font-weight: 600;
  color: rgb(234, 234, 234);
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-left: 60px;
}

.movie-page-container .first-half .movie-info-container .movie-image {
  width: 250px;
  border-radius: 8px;
}

.movie-page-container .first-half .movie-info-container .movie-image img {
  width: 100%;
  height: 80%;
  border-radius: 8px;
  border: 5px solid white;
}

.movie-page-container .first-half .movie-info-container .movie-details {
  margin-left: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-page-container
  .first-half
  .movie-info-container
  .movie-details
  .movie-title {
  font-family: var(--font-poppins);
  font-size: 2rem;
  font-weight: 700;
  color: rgb(225, 232, 235);
  text-wrap: wrap;
}

.movie-page-container
  .first-half
  .movie-info-container
  .movie-details
  .release-year {
  font-family: var(--font-poppins);
  font-size: 1.1rem;
  font-weight: 700;
  color: rgb(225, 232, 235);
  margin-top: 30px;
}

.movie-page-container .first-half .movie-info-container .movie-details .genres {
  display: flex;
  font-family: var(--font-poppins);
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(225, 232, 235);
}

.movie-page-container
  .first-half
  .movie-info-container
  .movie-details
  .genres
  .genre {
  margin-right: 5px;
}

.movie-page-container
  .first-half
  .movie-info-container
  .movie-details
  .ratings {
  font-family: var(--font-poppins);
  font-size: 0.9rem;
  font-weight: 700;
  color: rgb(225, 232, 235);
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.movie-page-container
  .first-half
  .movie-info-container
  .movie-details
  .ratings
  div {
  margin-right: 4px;
}

.movie-page-container .first-half .similar-movies-container {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.movie-page-container .first-half .similar-movies-container .title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  color: white;
  font-family: var(--font-inter);
  font-weight: 700;
}

.movie-page-container .first-half .similar-movies-container .movies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.movie-page-container .first-half .similar-movies-container .movies .movie {
  width: 35%;
  height: 170px;
margin-right: 5%;
margin-top: 5%;
border: 5px solid white;
border-radius: 5px;
}

.movie-page-container .first-half .similar-movies-container .movies .movie img{
  width: 100%;
  height: 100%;
}

.movie-page-container .second-half {
  width: 1100px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.movie-page-container .second-half .plot-summary .title {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-page-container .second-half .plot-summary {
  padding-right: 35%;
  font-family: var(--font-inter);
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(225, 232, 235);
  line-height: 1.6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-page-container .second-half .images-and-trailer {
  width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
}

.movie-page-container .second-half .images-and-trailer .image {
  width: 300px;
  height: 150px;
  margin-right: 10px;
}

.movie-page-container .second-half .images-and-trailer .image img {
  width: 100%;
  height: 100%;
}
