@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-experimental: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-inter: 'Inter';
    --font-poppins: 'Poppins';
    --font-raleway: 'Raleway';
}

header{
    width: 100vw;
    background-color: #25292E;
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px 30px;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(84, 84, 84);
    position: fixed;
    z-index: 1;
}

header img{
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
}

header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 220px;
    margin-right: 50px;
    color: #747c86;
    font-family: var(--font-raleway);
    font-size: .8rem;
    font-weight: 700;
}

header ul li:nth-child(1){
    color: rgb(70, 134, 218);
}


header ul li:nth-child(2){
    color: rgb(70, 134, 218);
}

header ul li{
    cursor: pointer;
}

header .slogan{
    position: absolute;
    left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  font-family: var(--font-poppins);
  font-size: .8rem;
  color: #9eaec0;
}

header .beta-tag{
    position: absolute;
    left: 180px;
  transform: translate(-50%, -50%);
  top: 52%;
  font-family: var(--font-poppins);
  padding: 0 10px;
  background-color: #808080;
  border-radius: 10px;
  color: #ccd5e3;
  font-size: .7rem;
}


